apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-v3
  namespace: hands-on
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo
      version: v3
  template:
    metadata:
      labels:
        app: demo
        version: v3
    spec:
      containers:
        - name: web
          image: nginxdemos/hello:plain-text
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "1500m"
              memory: "512Mi"
            limits:
              cpu: "2000m"
              memory: "768Mi"

