apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: demo-v4-hpa
  namespace: hands-on
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: demo-v4
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50

